/vendor/
node_modules/
.env
.phpunit.result.cache
/storage/*.key
/storage/oauth-private.key
/storage/oauth-public.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/app/private/*
!/storage/app/private/.gitignore
/bootstrap/cache/*
.idea/
*.log
.DS_Store
Thumbs.db
.env.*
/public/hot

# Temp/Backup files
*.bak
*.tmp
deploy.sh
[
